{% extends 'tasks/base.html' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="progress-container">
    <label>Progress</label> <div class="progress-bar">
        <div class="progress" style="width: {{ percentage}}%;"></div>
    </div>
    <div class="progress-count">{{ completed_tasks }}/{{ total_tasks }}</div>
</div>

<form class="task-form" method="POST" action="{% url 'add_task' %}">
    {% csrf_token %}
    <input name="label" type="text" placeholder="$ add new task..." required autofocus />
    <button type="submit">ADD</button>
</form>

{% if tasks %}
<ul class="task-list">
    {% for task in tasks %}
    <li class="{% if task.done == True %}completed{% endif %}">
        <form method="POST" action="{% url 'toggle_task' task.id %}">
            {% csrf_token %}
            <input 
                type="checkbox" 
                onChange="this.form.submit()" 
                {% if task.done == True %}checked{% endif %}
            />
        </form>
        <span>{{ task.label }}</span> <a href="{% url 'delete_task' task.id %}" class="delete">×</a>
    </li>
    {% endfor %}
</ul>

<p class="footer">{{ remaining_tasks }} task{% if remaining_tasks != 1 %}s{% endif %} remaining • Let's code!</p>
{% else %}
<p class="footer">No tasks yet. Add a task above!</p>
{% endif %}
{% endblock %}